<md-card>
  <md-card-content>
    <form [formGroup]="searchForm">
      <md-input-container>
        <input type="search" required mdInput placeholder="Enter a City or Postal Code" formControlName="search" id="search">
        <md-hint *ngIf="formErrors.search">{{ formErrors.search }}</md-hint>
        
      </md-input-container>
      <button type="submit" md-raised-button color="accent" (click)="onSearchSubmit()"><md-icon>search</md-icon></button>
    </form>
  </md-card-content> 
</md-card>

<!-- display if search is not or has not been done -->
<div *ngIf="searchResults == undefined && searching == false">
  <md-card>
    <md-card-content>
      <h2>Search for bars in your area! Enter a city or postal code above to get started!</h2>
    </md-card-content>
  </md-card>
</div>

<!-- display if currently searching -->
<div *ngIf="searching == true">
  <md-card>
    <md-card-content>
      <md-spinner></md-spinner>
    </md-card-content>
  </md-card>
</div>
  

<!-- display if search has been done -->
<div *ngIf="searchResults != undefined" id="results">

    <!-- display if results returned is 0 -->
    <md-card *ngIf="searchResults.length == 0">
      <md-card-content>
          <h2>No nearby bars! Sorry.</h2>
      </md-card-content>
    </md-card>

    <!-- display search results -->
    <div *ngFor="let result of searchResults">
      <md-card>
        <!--<md-card-title>{{ result.name }}</md-card-title>-->
        <md-card-content>

          <div class="flex-container overflow-hidden height200">

            <!-- image area -->
            <div id="search-image">
              <img class="search-image" src="{{ result.image_url}}">
            </div>

            <!-- info area -->
            <div id="search-info">
              <a href="{{ result.url }}" target="_blank"><h2 class="info-title margin-bottom-8">{{ result.name }}</h2></a>
              <h3 class="margin-top-8 margin-bottom-8">{{ result.display_phone }}</h3>
              <h3 class="margin-top-8 margin-bottom-0">{{ result.location.address1 }}, {{ result.location.city }}, {{ result.location.state }}</h3>
              <div class="flex-container">
                <div id="rating-area">
                  <img src="{{ ratingImageUrl(result.rating) }}">
                  <p class="margin-top-0 margin-bottom-8">Based on {{ result.review_count }} Reviews</p>
                </div>
                <div id="logo-area">
                  <a href="{{ result.url }}" target="_blank">
                    <img class="logo-small" src="https://s3.amazonaws.com/andydlindsay-night-life/yelp/logos/Yelp_burst_positive_RGB.png">
                  </a>
                </div>
              </div>
            </div>

            <!-- button area -->
            <div id="people-going">
              <h2 class="margin-top-2">{{ result.count }} Going Tonight</h2>
              <button *ngIf="!result.going" md-raised-button color="primary" (click)="onGoingClick(result.id)">I'm Going</button>
              <div *ngIf="result.going">
                <h2>You are going here tonight!</h2>
                <button md-raised-button color="accent" (click)="onCancelClick(result.id)">Cancel</button>
              </div>
            </div>

          </div>

        </md-card-content>
      </md-card>
    </div>

    <!-- display page navigation -->
    <md-card *ngIf="totalResults > 10 && searchResults.length > 0">
      <md-card-content>
        <div class="flex-container">
          <span class="app-toolbar-filler"></span>
          <button md-button [disabled]="isFirstPage()" (click)="prevPage()">
            <md-icon>navigate_before</md-icon>Prev Page
          </button>
          <h2>&nbsp;{{ currentPage }}&nbsp;</h2>
          <button md-button [disabled]="isLastPage()" (click)="nextPage()">
            Next Page<md-icon>navigate_next</md-icon>
          </button>
          <span class="app-toolbar-filler"></span>
        </div>
      </md-card-content>
    </md-card>

</div>
